*{
    margin: 0;
    padding: 0;
}
body{
      background-color: #1A0B2E;
    font-family: "Inter",sans-serif;
}

.navbar{
    display: flex;
    
    align-items: center;
    padding: 20px;
    background-color: #1A0B2E;
    justify-content: space-between;
}
.hamburger{
    display: none;
}
.nav-items{
    display: flex;
    gap: 32px ;
    /* list-style: none; */
        list-style: none;

        
        
}
.nav-items a{
    text-decoration: none;
    color: #FFFFFF;
    
   
}
.btn{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    margin-right: 200px;
    width: 135px;
    height: 44px;
    border-radius: 20px ;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 16px;
}
.btn img{
    margin-left: 4px;
    margin-right: 16px;
    width: 20px;
    height: 20px;
}
.navbar h2{
    color: #FFFFFF;
    margin-left: 200px;
}
.linear {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

.main{
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
}
.circle{
    position: relative;
    left: 590px;
    top: 101px;
}
.mike{
    position: relative;
    left: 350px;
}
.logo{
    position: relative;
    top: -250px;
    left: 800px;
    background-color: #00FF88 ;
    border-radius: 20px;
    padding: 16px;
}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 8px;
}
.first{
    color: #FFFFFF;
}
.second{
    color: #FFFFFF;
    opacity: 80%;
}
.ban-footer{
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 8px;
    justify-content: center;

}
.btn2{
  width: 147px;
  height: 44px;
  padding: ;  
  color: #00FF88;
  background-color: transparent;
  border-color: #00FF88;
  border-radius: 20px;
 
  font-size: 16px;
  font-weight: 600px;
  margin-top: 12.5px;  
  align-items: center;
}
.btn3{
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn4{
      background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    width: 201px;
    height: 44px;
    border-radius: 20px ;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 16px;
    justify-content: center;
}
/* banner 2 */

.banner2{
    width: 1500px;
    height: 646px;
   background-color: #1A0B2E;
}
.ban2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
.bannertext{
      align-items: center;
    text-align: center;
    color: #FFFFFF;
    opacity: 80%;

}
.items{
    display: flex;
    margin-top: 160px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.item{
    width: 240px;
    height: 94px;
    color: #00FF88;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.t{
    color: #FFFFFF;
    opacity: 80%;
}

/* Reason  */
.reasons h2{
color: #FFFFFF;
text-align: center;
margin-bottom: 40px;
}

.reason{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    color: #FFFFFF;
    margin-left: 200px;
    margin-right: 200px;
}
.reason h3{
    margin-top: 16px;
    margin-bottom: 16px ;
    
}
.reason p{
    opacity: 60%;
}
.reason1{
    grid-row: span 2;
    background-color: #351165;
    border-radius: 15px;
    padding: 40px ;
}
.reason2{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 15px;
        padding: 40px ;

}
.reason3{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 15px;
        padding: 40px ;

}
.reason4{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 15px;
        padding: 40px ;

}
.reason5{
    background-color: #351165;
    border-radius: 15px;
        padding: 40px ;

}
.videos{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 120px;
    gap: 30px;
}
.video{
    width: 380px;
    height: 380px;
}
.episodes h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 120px;
    text-align: center;
}
.video h3{
    color: #FFFFFF;
    margin-top: 24px;
}
.video p{
    color: #FFFFFF;
    font-size: 16px;
    opacity: 60%;
    margin-top: 12px;
    margin-bottom: 12px;

}
.te{
    color: #00FF88 ;
    display: flex;
    gap: 6px;

}


.host{
    background-color: #351165;
    align-items: center;
    display: flex;
    width: 1200px;
    height: 280;
    margin-left: 200px;
    margin-right: 200px;
}
.host1{
    text-align: center;
    color: #FFFFFF;
    margin-left: 24px;
    margin-right: 40px;
}
.host1 h3{
    font-size: 32px ;
    font-weight: 896px;
    margin-bottom: 16px;
    text-align: left;

}

.host1 p{
margin-top: 16px;
    opacity: 60%;
    text-align: left;

}
.icons{
    display: flex;
    gap: 8px;
    list-style: none;
    margin-top: 16px;
    margin-left: 24px;
}
.imgs{
    margin: 40px;
}
/* footer   */
.end{
   
    background-image: url('../assets/footer-bg.png');
  
    justify-content: center;
    width: 1600px;
    height: 412px;
   
}


.end h1{
    color: #FFFFFF;
    text-align: center;
    margin-top: 120px;
    padding-top: 145px;
    

}
.icons1{
    align-items: center;
    gap: 40px;
    margin-top: 32px;
    margin-bottom: 32px ;
    display: flex;
    justify-content: center;
}
.icons2{
    color: #FFFFFF;
    display: flex;
    list-style: none;
    gap: 8px;
}
.foot{
    color: #FFFFFF;
    opacity: 60%;
    margin-bottom: 120px;
    text-align: center;

}
@media screen and (max-width: 576px){
    .navbar{
    width: 219px;
    height: 32px;
}
.nav-items{
    display: none;
}
.btn{
    display: none;
}
.navbar h2{
    color: #FFFFFF;
    margin-left: 5px;
}
.hamburger{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 300px;

}
.hamburger span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 2px;
    transition: 0.3s;
    
}

}
