*{
    margin: 0;
    padding: 0;
}
body{
      background-color: #1A0B2E;
    font-family: "Inter",sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1A0B2E;
}
.nav-items{
    display: flex;
    gap: 32px ;
    /* list-style: none; */
        list-style: none;
        
}
.nav-items a{
    text-decoration: none;
    color: #FFFFFF;
    
   
}
.btn{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    margin-right: 200px;
    width: 135px;
    height: 44px;
    border-radius: 20px ;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 16px;
}
.btn img{
    margin-left: 4px;
    margin-right: 16px;
    width: 20px;
    height: 20px;
}
.navbar h2{
    color: #FFFFFF;
    margin-left: 200px;
}
.linear{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

.main{
    background-image: url('../assets/hero-bg.png');
    height: 760px;
    background-repeat: no-repeat;
    width: 100%;
}
.circle{
    position: relative;
    left: 590px;
    top: 101px;
}
.mike{
    position: relative;
    left: 350px;
}
.logo{
    position: relative;
    top: -250px;
    left: 800px;
    background-color: #00FF88 ;
    border-radius: 20px;
    padding: 16px;
}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 8px;
}
.first{
    color: #FFFFFF;
}
.second{
    color: #FFFFFF;
    opacity: 80%;
}
.ban-footer{
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 8px;
    justify-content: center;

}
.btn2{
  width: 147px;
  height: 44px;
  padding: ;  
  color: #00FF88;
  background-color: transparent;
  border-color: #00FF88;
  border-radius: 20px;
 
  font-size: 16px;
  font-weight: 600px;
  margin-top: 12.5px;  
  align-items: center;
}
.btn3{
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn4{
      background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    width: 201px;
    height: 44px;
    border-radius: 20px ;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 16px;
    justify-content: center;
}
/* banner 2 */

.banner2{
    width: 1500px;
    height: 646px;
   background-color: #1A0B2E;
}
.ban2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
.bannertext{
      align-items: center;
    text-align: center;
    color: #FFFFFF;
    opacity: 80%;

}
.items{
    display: flex;
    margin-top: 160px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.item{
    width: 240px;
    height: 94px;
    color: #00FF88;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.t{
    color: #FFFFFF;
    opacity: 80%;
}

/* Reason  */
.reasons h2{
color: #FFFFFF;
text-align: center;
margin-bottom: 40px;
}

.reason{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    color: #FFFFFF;
    margin-left: 200px;
    margin-right: 200px;
}
.reason h3{
    margin-top: 16px;
    margin-bottom: 16px ;
    
}
.reason p{
    opacity: 60%;
}
.reason1{
    grid-row: span 2;
    background-color: #351165;
    border-radius: 15px;
    padding: 40px ;
}
.reason2{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 15px;
        padding: 40px ;

}
.reason3{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 15px;
        padding: 40px ;

}
.reason4{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 15px;
        padding: 40px ;

}
.reason5{
    background-color: #351165;
    border-radius: 15px;
        padding: 40px ;

}