
body{
    background-color: #412567;
    font-family: "Inter",sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-items{
    display: flex;
    gap: 32px ;
    /* list-style: none; */
        list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    margin-right: 200px;
    width: 135px;
    height: 44px;
    border-radius: 20px ;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 16px;
}
.btn img{
    margin-left: 4px;
    margin-right: 16px;
    width: 20px;
    height: 20px;
}
.navbar h2{
    color: #FFFFFF;
}
.linear{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}